.loginPage,
.registerPage {
    background:
        linear-gradient(red, transparent),
        linear-gradient(to top left, lime, transparent),
        linear-gradient(to top right, blue, transparent);
    background-blend-mode: screen;
    margin-top: 40px;
    margin-left: 30px;
    width: 350px;
    height: 550px;
    border-radius: 15px;
    color: black;
    position: relative;
}

.heading{
    font-family: 'Ubuntu', sans-serif;
    font-size: 40px;
}

#exampleInputEmail1, #exampleInputPassword1, #exampleInputName{
    border: 0;
    height: 45px;
    border-bottom: 3px solid black;
    color: black;
    display: flex;
    flex-direction: row;
    text-align: center;
}

form{
    margin: 10px;
    margin-left: 0;
}

.forgotPassword, .signUp{
    text-align: center;
    text-decoration: underline;
    cursor: pointer;
}

.signUp{
    margin-top: 10px;
}

.forgotPassword:hover {
    color: gold;
}

.userIcon{
    display: flex;
    flex-direction: row;
    position: absolute;
    margin-top: 8px ;
    margin-left: 2px;
}

.submitBtn{
    margin-left: 49px;
    width: 230px;
    height: 40px;
    border-radius: 20px;
    font-weight: bold;
}

.divider{
    width: 70%;
}

.google,
.facebook{
    width: 230px;
    border-radius: 20px;
    margin-left: 56px;
    margin-bottom: 8px;
}