.loginPage{
    background-color: salmon;
    margin-top: 50px;
    margin-left: 800px;
    height: 550px;
    border-radius: 15px;
    color: azure;
    box-shadow: green;
}

.heading{
    font-family: 'Ubuntu', sans-serif;
    font-size: 40px;
}

#exampleInputEmail1, #exampleInputPassword1{
    border: 0;
    height: 50px;
    border-bottom: 3px solid black;
    color: black;
}

form{
    margin: 10px;
    margin-left: 0;
}

.forgotPassword, .signUp{
    text-align: center;
    text-decoration: underline;
    cursor: pointer;
}

.signUp{
    margin-top: 10px;
}

.forgotPassword:hover {
    color: gold;
}

.submitBtn{
    margin-left: 150px;
    width: 100px;
    font-weight: bold;
}

.divider{
    width: 70%;
}