.wallet{
    position: absolute;
    width: 400px;
    height: 510px;
    background: #7F7FD5;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #91EAE4, #86A8E7, #7F7FD5);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #91EAE4, #86A8E7, #7F7FD5); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    padding: 10px;
    border-radius: 20px;
    margin-top: 15px;
}

.heading{
    font-family: 'Ubuntu', sans-serif;
    font-size: 40px;
    color: white;
    text-decoration: underline;
}

.disclamair {
    font-family: 'Ubuntu';
    font-size: 20px;
    line-height: 1.5;
}

.warning {
    font-size: 25px;
    color: red;
    font-family: sans-serif;
}

.keys{
    font-size: 16px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.btnKey{
    margin-left: 45px;
}

.profileBackground{
    background-color: red;
}